<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.min.css" rel="stylesheet" />
	</head>

	<body>

		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">Storage 存储</h1>
		</header>

		<div class="mui-content">
			<div id="userLogin">
				<form class="mui-input-group">
				    <div class="mui-input-row">
				        <label>用户名</label>
				        <input type="text" class="mui-input-clear" placeholder="用户名" v-model="username">
				    </div>
				    <div class="mui-input-row">
				        <label>密码</label>
				        <input type="password" class="mui-input-clear" placeholder="密码" v-model="pwd">
				    </div>
				    <button type="button" class="mui-btn mui-btn-blue mui-btn-block" onclick="clear()">取消记住密码</button>
				    <button type="button" class="mui-btn mui-btn-blue mui-btn-block"onclick="login()">登录</button>
				</form>
			</div>

		</div>

		<script src="js/mui.min.js"></script>
		<script src="js/vue.min.js"></script>
		<script type="text/javascript">
			mui.init();
			var userLogin=new Vue({
				el:"#userLogin",
				data:{
					username:"",
					pwd:"",
				}
				
			});
			
			mui.plusReady(function(){
				var username1=plus.storage.getItem("username");
				var password1=plus.storage.getItem("password");
				if (username1!=null&& password1!=null) {
					userLogin.username=username1;
					userLogin.pwd=password1;
				} 
			});
	
			function login(){
				//登录时保存
				plus.storage.setItem("username",userLogin.username);
				plus.storage.setItem("password",userLogin.pwd);
				
				console.log("用户信息已记住"+plus.storage.getItem("username")+" "+plus.storage.getItem("password"))
				
			}
			
			function clear(){
				plus.storage.clear();
				console.log("清空用户信息！");
			}
		</script>
	</body>

</html>